 .container {
  margin: 0;
 }

 .filterContainer {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
 }


  .inputField {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
  }
  